<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :family_name,"Name" %><br>
    <%= f.text_field :family_name %>
  </div>
  <div class="field">
    <%= f.label :name,"Vorname" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :birth_date,"Geburtsdatum" %><br>
    <%= f.date_select :birth_date, :start_year => getBirthDateStart(), :end_year => getBirthDateEnd() %>
  </div>
  <div class="field">
    <%= f.label :bio, "Über mich:" %><br>
    <%= f.text_area :bio %>
  </div>
  <%= form_for(@profile.user) do |f| %>
 <div class="field">
   <%= f.label :role%> <%= f.collection_select(:role, User::ROLES, :to_s, lambda{|i| i.to_s.humanize})%> 
 </div>
 <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
