<h1>Profile</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Vorname</th>
      <th>E-Mail</th>
      <th>Geburtsdatum</th>
      <th>Über mich</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.family_name %></td>
        <td><%= profile.name %></td>
        <td><%= profile.user.email %></td>
        <td><%= profile.birth_date %></td>
        <td><%= profile.bio %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
