<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @block.name %>
</p>

<p>
  <strong>Gesamtects:</strong>
  <%= @block.gesamtects %>
  <strong>Credits min:</strong>
  <%= @block.credits_min %>
</p>

<%= link_to 'Edit', edit_block_path(@block) %> |
<%= link_to 'Back', blocks_path %>
