<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @block.name %>
</p>

<p>
<<<<<<< HEAD
  <strong>Gesamtects:</strong>
  <%= @block.gesamtects %>
=======
  <strong>Credits min:</strong>
  <%= @block.credits_min %>
>>>>>>> d62b09217e1b6234e79f306f41a787e393fc09b9
</p>

<%= link_to 'Edit', edit_block_path(@block) %> |
<%= link_to 'Back', blocks_path %>
