<!--list of all users viewable for admin-->
<% if can? :manage, @user %>
<h1>Alle Nutzer</h1>

<!-- new table design for all the users -->
<table class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>

  </thead>

<!-- list email of user and options/buttons to show profil, to change passwort and to delete profile -->
  <tbody>
    <% @users.each do |user| %>
      <tr> 
        <td><%= user.email %></td>
        <td><%= user.role %></td>
         <div class="btn-group btn-group-justified">
         <% unless user.profile.nil?%>
          <td class="col-sm-1"><%= link_to 'Anzeigen', profile_path(user.profile) , class: 'btn btn-default'%></td>
        <%end%>

         </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- is this important ? or maybe put to the top of the page? -->
<%= link_to 'Neuer Nutzer', new_user_path, class: 'btn btn-success'%>
<% end %>

<!-- not authorized redirected root path-->
<% if cannot? :manage, @user %>
    <%= not_authorized("Keine Rechte um User Übersicht aufzurufen") %> 
<% end %>