<!--list of all users viewable for admin-->
<% if can? :manage, @user %>
<p id="notice"><%= notice %></p>

<h1>Alle Nutzer</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>

  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr> 
        <td><%= user.email %></td>
        <td><%= user.role %></td>
         <div class="btn-group btn-group-justified">
          <td class="col-sm-1"><%= link_to 'Anzeigen', user , class: 'btn btn-default'%></td>
          
          <td class="col-sm-1"><%= link_to 'Bearbeiten', edit_user_path(user) , class: 'btn btn-default'%></td>
<<<<<<< HEAD
          
          <td class="col-sm-2">
          
          <%= link_to 'Löschen', user, method: :delete, data: { confirm: 'Sicher?' } , class: 'btn btn-default'%>
          
          </td>    

=======
          <td class="col-sm-2"><%= link_to 'Löschen', user, method: :delete, data: { confirm: 'Sicher?' } , class: 'btn btn-default'%></td>   
>>>>>>> c2fd285063c25914992678102f63bd783c8ccbcc
         </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neuer Nutzer', new_user_path, class: 'btn btn-success'%>
<% end %>

<!-- not authorized redirected root path-->
<% if cannot? :manage, @user %>
    <%= not_authorized("Keine Rechte um User Übersicht aufzurufen") %> 
<% end %>