<!-- Profile usable for admins -->
<head>Profile</head>

<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Passwort:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<%= link_to 'Bearbeiten', edit_user_path(@user) %> |
<%= link_to 'Zurück', users_path %>
