<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br>
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :prof %><br>
    <%= f.text_field :prof %>
  </div>
  <div class="field">
    <%= f.label :credits %><br>
    <%= f.number_field :credits %>
  </div>
  <div class="field">
    <%= f.label :sws %><br>
    <%= f.number_field :sws %>
  </div>
  <div class="field">
    <%= f.label :cycle %><br>
    <%= f.number_field :cycle %>
  </div>
  <div class="field">
    <%= f.label :next %><br>
    <%= f.text_field :next %>
  </div>
  <div class="field">
    <%= f.label :exam_type %><br>
    <%= f.text_field :exam_type %>
  </div>
  <div class="field">
    <%= f.label :condition %><br>
    <%= f.text_field :condition %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
