<!-- layout of new event. if problems or wishes. please let design team know -->

<%= form_for(@event) do |f| %>
<div class="same_width2">

  <div class="field">
    <%= f.label :identifier, 'Kürzel' %><br>
    <%= f.text_field :identifier, class: "same_width2_in3" %>
  </div>

  <div class="field">
    <%= f.label :title, 'Titel' %><br>
    <%= f.text_field :title, class: "same_width2_in2"%>
  </div>

  <div class="field text-event">
    <%= f.label :Beschreibung %><br>
    <%= f.text_area :description, class: "text-event same_width2_in2" %>
  </div>

  <div class="field">
    <%= f.label :prof, 'Professor' %><br>
    <%= f.text_field :prof, class: "same_width2_in2" %>
  </div>

  <table>
  <tr>
  <td>
  <div class="field">
    <%= f.label :credits, 'Credits' %><br>
    <%= f.number_field :credits , class: "same_width2_in1"%>
  </div>
  </td>
  <td>
  <div class="field">
    <%= f.label :sws, 'SWS' %><br>
    <%= f.number_field :sws ,class: "same_width2_in1"%>
  </div>
  </td>
  <td>
  <div class="field">
    <%= f.label :cycle %><br>
    <%= f.select :cycle, [ 'Jedes Wintersemester','Jedes Sommersemester','Jedes Semester', 'Jedes zweite Wintersemester', 'Jedes zweite Sommersemester', 'Nicht regelmäßig' ], :prompt => 'Bitte auswählen',class: "same_width2_in1" %>
  </div>
  </td>
  </tr>
  </table>

  <div class="field">
    <%= f.label :exam_type, 'Prüfungsart' %><br>
    <%= f.text_field :exam_type, class: "same_width2_in2" %>
  </div>

  <div class="field">
    <%= f.label :condition, 'Bedingung' %><br>
    <%= f.text_field :condition, class: "same_width2_in2" %>
  </div>

  <div class="actions">
    <%= f.submit "Abschicken", class: "btn btn-success" %>
  </div>
</div>

<% end %>
