<p id="notice"><%= notice %></p>

<h1>Veranstaltungen</h1>

<table>
  <thead>
    <tr>
      <th>Kürzel</th>
      <th>Titel</th>
      <th>Beschreibung</th>
      <th>Professor</th>
      <th>Credits</th>
      <th>SWS</th>
      <th>Zyklus</th>
      <th>Prüfungsart</th>
      <th>Bedingung</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.identifier %></td>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.prof %></td>
        <td><%= event.credits %></td>
        <td><%= event.sws %></td>
        <td><%= event.cycle %></td>
        <td><%= event.exam_type %></td>
        <td><%= event.condition %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
