<%= stylesheet_link_tag "custom.css" %>


<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @event.id %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @event.identifier %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Prof:</strong>
  <%= @event.prof %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @event.credits %>
</p>

<p>
  <strong>Sws:</strong>
  <%= @event.sws %>
</p>

<p>
  <strong>Cycle:</strong>
  <%= @event.cycle %>
</p>

<p>
  <strong>Next:</strong>
  <%= @event.next %>
</p>

<p>
  <strong>Exam type:</strong>
  <%= @event.exam_type %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @event.condition %>
</p>

<p>
  <strong>Average Rating:</strong>
  <div id="average_rating" style="display:inline;"><%= @event.avg_rating %></div>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>



<% form_id = "event_#{@event.id}_rating" %>
<% if logged_in? %> <!-- To avoid throwing an exception if no user is signed in -->
    <% user_id = current_user.id %>
<% else %>
    <% user_id = -1 %>
<% end %>        
    <%= form_for @event.ratings.find_or_create_by(user_id: user_id), :html => {:id => form_id, :class => "star_rating_form"} do |f| %>
        <%= f.hidden_field :event_id, :value => @event.id %>
        <% if logged_in? %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
        <% end %>        
        <%= f.hidden_field :stars, :id => form_id + "_stars" %>
    <% end %>
<% (1..5).each do |i| %>
    <li class="rating_star" id="<%= form_id %>_<%= i %>" data-stars="<%= i %>" data-form-id="<%= form_id %>"></li>
<% end %>

