<p id="notice"><%= notice %></p>

<p>
  <strong>Kürzel:</strong>
  <%= @event.identifier %>
</p>

<p>
  <strong>Titel:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Beschreibung:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @event.prof %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @event.credits %>
</p>

<p>
  <strong>SWS:</strong>
  <%= @event.sws %>
</p>

<p>
  <strong>Zyklus:</strong>
  <%= @event.cycle %>
</p>

<p>
  <strong>Next:</strong>
  <%= @event.next %>
</p>

<p>
  <strong>Prüfungsart:</strong>
  <%= @event.exam_type %>
</p>

<p>
  <strong>Bedingung:</strong>
  <%= @event.condition %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
