<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @block.name %>
</p>
<p>
  <strong>Zu erreichende Credits:</strong>
  <%= @block.credits_min %>
</p>
<p>
  <strong>Veranstaltungen:<br></strong>
  <%= @block.events.map { |a| a.title }.join("<br>").html_safe %>
</p>

<%= link_to 'Edit', edit_block_path(@block) %> |
<%= link_to 'Back', blocks_path %>
