   <%= stylesheet_link_tag "courseOverview.css" %>

<!--- neu -->
<ol class = "tree">
  <li>
    <!-- Ebene 1: Courses -->
    <label for="Studiengaenge">Studiengaenge</label>
    <input type="checkbox" id="Studiengaenge" />
      <ol>
      <% @courses.each do |course| %>
        <li>  
          <label for="course"><%=    link_to course.name,  course %> <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %> </label>
          <input type="checkbox"  id="Bloecke" />
        
            <ol>
              <!-- Ebene 2: Blocks -->

              <% e = course.blocks.map %>
              
                
              <% e.each do |blocks| %>
              <li>
                    <label for="blocks"><%= link_to blocks.name, blocks %></label>
                    <input type="checkbox"  id="Bloecke" />

                    <ol>
                        <% f = blocks.events.map %>
                        <% f.each do |events| %>
                          <li class="file">
                                <%= link_to events.title, events %>
                                <input type="checkbox"  id="Events" />
                          </li>
                        <% end %>

                    </ol>
              
              </li>
              <% end %>
            </ol>
        </li>
      
      <% end %>
    </ol>
  </li>
</ol>

<%= link_to 'New Course', new_course_path %>