   <%= stylesheet_link_tag "courseOverview.css" %>

<!--- neu -->
<p id="notice"><%= notice %></p>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Abschluss</th>
      <th>Studiengang</th>
      <th>Blöcke</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.degree %></td>
        <td><%= course.name %></td>
        <td><%= course.blocks.map { |a| a.name }.join("<br>").html_safe %></td>
        <div class="btn-group btn-group-justified">
          <td class="col-sm-1"><%= link_to 'Anzeigen', course , class: 'btn btn-default'%></td>
          <td class="col-sm-1"><%= link_to 'Bearbeiten', edit_course_path(course) , class: 'btn btn-default'%></td>
          <td class="col-sm-2"><%= link_to 'Löschen', course, method: :delete, data: { confirm: 'Sicher?' } , class: 'btn btn-default'%></td>
          </div>
      </tr>
    <% end %>
  </tbody>
</table>

<ol class = "tree">
  <li class = "course">
    <!-- Ebene 1: Courses -->
    <label for="Studiengaenge">Studiengaenge</label>
    <input type="checkbox" id="Studiengaenge" />
      <ol>
      <% @courses.each do |course| %>
        <li class = "course">
          <label for="course"><%=    link_to course.name,  course %> <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %> </label>
          <input type="checkbox"  id="course" />
        
            <ol>
              <!-- Ebene 2: Blocks -->

              <% e = course.blocks.map %>
              
                
              <% e.each do |blocks| %>
                <li class = "course">
                    <label for="blocks"><%= link_to blocks.name, blocks %></label>
                    <input type="checkbox"  id="blocks" />

                    <ol>
                        <% f = blocks.events.map %>
                        <% f.each do |events| %>
                          <li class="file">
                                <%= link_to events.title, events %>
                                <input type="checkbox"  id="Events" />
                          </li>
                        <% end %>

                    </ol>
              
              </li>
              <% end %>
            </ol>
        </li>
      
      <% end %>
    </ol>
  </li>
</ol>

<%= link_to 'New Course', new_course_path %>