<!DOCTYPE html>
<html>
<head>
  <title>StudyAdministration</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--remove if finally decided that not needed -->
  <!--<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">-->
</head>
<body>
<header>
	<div class="bar-container">
	<!--Bar containing the important navigation items-->
	<div class="nav">
      <ul>     
        <li class="topmenu"><a class="active" href="#">Home</a></li>
        <li class="topmenu"><a href="#">menue-1</a>
          <ul>
            <li class="submenu"><a href="">Unterpunkt 1.1</a></li>
            <li class="submenu"><a href="">Unterpunkt 1.2</a></li>
          </ul>
        </li>
        <li class="topmenu"><a href="#">menue-2</a>
          <ul>
            <li class="submenu"><a href="">Unterpunkt 1.1</a></li>
            <li class="submenu"><a href="">Unterpunkt 1.2</a></li>
          </ul>
        </li>
        <li class="topmenu"><a href="#">menue-3</a>
          <ul>
            <li class="submenu"><a href="">Unterpunkt 1.1</a></li>
            <li class="submenu"><a href="">Unterpunkt 1.2</a></li>
          </ul>
        </li>
        <li class="topmenu"><a href="#">menue-4</a>
          <ul>
            <li class="submenu"><a href="">Unterpunkt 1.1</a></li>
            <li class="submenu"><a href="">Unterpunkt 1.2</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!--Bar containing the login and signup buttons-->
    <div class="login">
      <ul>     
        <li class="login_field"><a href="#">LogIn</a></li>
        <li class="signup"><a href="#">SignUp</a></li>
      </ul>
    </div>
    </div>
 </header>
<!-- added navigation links and flash messages -->

<div id="nav">
    <% if current_user %>
      <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
      <%= link_to "Logout", :logout, method: :post %>
    <% else %>
      <%= link_to "Register", new_user_path %> |
      <%= link_to "Login", :login %>
    <% end %>
  </div>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
<center>
<%= yield %>
</center>
</body>
</html>
