<!-- login view  -->
<%= form_tag user_sessions_path, :method => :post do %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
  <div class="actions" >
  <div class="btn-group wider_btn_group">
    <%= submit_tag "Login", class: "btn btn-success my_button1"  %>
    <%= link_to 'Passwort vergessen?', '/password_resets/index' , class: 'btn btn-warning my_button1'%>
  </div>
  </div>
<% end %>
